/* =============================================================
   GENERAL STYLES
   ============================================================ */

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 30px;
}

h2 {
  padding-top: 50px;
  text-transform: uppercase;
  color: #000;
}

h3 {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

h4 {
  font-size: 20px;
  padding-top: 10px;
}

section {
  padding-top: 30px;
  padding-bottom: 40px;
}

.just-pad {
  padding-bottom: 50px;
  padding-top: 80px;
}

p {
  padding: 10px 0px;
}

button {
  background-color: #AEC225;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #AEC225;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

button:hover {
  background-color: #90A116;
}

/*=====================================
  NAVBAR STYLES
  ===================================*/

.logo-custom {
  max-height: 30px
}

#menu {
  background-color: #fff;
  color: #26A6D1;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  border-bottom: 1px solid #26A6D1;
}

.navbar-inverse {
  border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover {
  color: #26A6D1;
}
.navbar-inverse .navbar-nav>li>a:focus {
  color: #AEC225;
}

.home-mail {
  font-size: 12px;
  font-weight: normal;
  padding-left: 5px;
}

.navbar-inverse .navbar-toggle {
  border-color: #26A6D1;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  border-color: #AEC225;
  background-color: #AEC225;
}
.navbar-inverse .navbar-toggle:hover .icon-bar, .navbar-inverse .navbar-toggle:focus .icon-bar {
  background-color: #FFF;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #26A6D1;
}


/*=====================================
  HEADERS STYLES
  ===================================*/

.header-sec {
  padding-top: 10px;
  padding-bottom: 60px;
  background: url(../img/head.png) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}
.header-sec p {
  font-size: 16px;
  margin-bottom: 20px;
}
.header-sec img {
  height: 70px;
}

.header-sec .overlay {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(29,29,29,0.2)), color-stop(100%,rgba(29,29,29,1)));
  min-height: 500px;
}

.header-sec h2 {
  color: #fff;
  padding-top: 150px;
}



/*=====================================
  NOSOTROS
  ===================================*/

.nosotros .media-body {
  text-align: center
}

.nosotros .media-body i {
  color: #26A6D1;
}

.nosotros .media-body p {
  text-align: left
}



/*=====================================
  SERVICIOS
  ===================================*/

.servicios {
  padding-top: 10px;
  padding-bottom: 60px;
  background: url(../img/servicios.png) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
}

.servicios .overlay {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba(30,30,30,0.5)), color-stop(50%,rgba(30,30,30,0.5)));
  min-height: 300px;
}

.servicios h3 {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 30px;
}

.servicios h4 {
  line-height: 35px;
}

.servicios .service {
  margin-bottom: 50px;
}

.servicios .service i {
  color: #B3D3DE;
}

.servicios button {
  margin-bottom: 60px;
}


/*=====================================
  PRICING STYLES
  ===================================*/

.price-sec {
  padding-top: 40px;
  padding-bottom: 60px;
  color: #fff;
}

.price-sec span {
  font-size: 90px;
}

.single-price {
  background-color: rgba(8, 134, 74, 1);
  padding: 50px;
}

.multi-price {
  background-color: #4bb777;
  padding: 50px;
}


/*=====================================
  CONTACT STYLES
  ===================================*/

.contact {
  font-size: 20px;
  line-height: 35px;
}


/*=====================================
  FOOTER STYLES
  ===================================*/

.myfooter {
  background-color: #4bb777;
  padding: 5px 40px 5px 40px;
  color: #fff;
  font-size: 14px;
  text-align: right;
}